#glass-squares-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    font-family: "Roboto";
    color: white;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.box {
    position: relative;
}

.box .square {
    position: absolute;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 15px;
    animation: square 10s linear infinite;
    animation-delay: calc(-1s * var(--i));
}

@keyframes square {

    0%,
    100% {
        transform: translateY(-20px);
    }

    50% {
        transform: translateY(20px);
    }
}

.square {
    padding: 25px;
    width: 300px;
    transition: 250ms;
    z-index: 2;
}

.square:hover {
    z-index: 10 !important;
    border: 1px solid rgb(255 255 255 / 89%);
    box-shadow: 0 25px 45px rgb(0 0 0 / 28%);
}

.box .square:nth-child(1) {
    top: -348px;
    right: -400px;
    width: 50px;
    height: 50px;
    z-index: 3;
}

.box .square:nth-child(2) {
    top: -265px;
    right: 155px;
    width: 100px;
    height: 100px;
    z-index: 3;
}

.box .square:nth-child(3) {
    top: 285px;
    right: -321px;
    width: 75px;
    height: 75px;
    z-index: 3;
}

.box .square:nth-child(4) {
    top: -315px;
    right: -345px;
}

.box .square:nth-child(5) {
    top: 185px;
    right: 155px;
    width: 100px;
    height: 100px;
    z-index: 3;
}

.box .square:nth-child(6) {
    bottom: -266px;
    left: -395px;
}

.box .square:nth-child(7) {
    top: -40px;
    right: -447px;
    width: 100px;
    height: 100px;
    z-index: 3;
}

.box .square:nth-child(8) {
    top: -115px;
    left: -125px;
}