#menus-container {
    position: absolute;
    left: 0;
    top: 0;
    font-family: "Roboto";
    color: white;
    z-index: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    flex-direction: column;
    width: calc(100% - 200px);
    margin: 100px;
    z-index: 5;
    pointer-events: none;
}

#menus {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 15px;
    width: 200px;
    padding: 25px;
}